/*DEVELOPER: Tanisha Cruz, IS117-006, Spring 2018*/
body {
  padding-top: 5 rem;
  padding-bottom: 5 rem;
  color: #737373;
}


/* Carousel */
.carousel {
  margin-top: 5 rem;
}

/* Declaring the heights*/
.carousel-item {
  height: 32rem;
  background-color: #808080;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
