/*DEVELOPER: Tanisha Cruz, IS117-006, Spring 2018*/

body {
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 4rem;
  padding-right: 4rem;
  color: #4d4d4d;
}

/* Since I added the padding in the body, I don't need this anymore but I'm keeping it just in case something goes wrong lol

.carousel {
  margin-top: 3rem;
}
*/

/* Heights */
.carousel-item {
  height: 30rem;
  background-color: #808080;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 30rem;
}

